@import "tailwindcss";

@theme {
  /* 글꼴 */
  --font-sans: var(--font-spoqa), ui-sans-serif, system-ui, sans-serif;

  /* 색상 팔레트 */
  --color-black: #111322;
  --color-gray-50: #7d7986;
  --color-gray-40: #a4a1aa;
  --color-gray-30: #cbc9cf;
  --color-gray-20: #e5e4e7;
  --color-gray-10: #f2f2f3;
  --color-gray-5: #fafafa;
  --color-white: #ffffff;

  --color-red-40: #ff4040;
  --color-red-30: #ff8d72;
  --color-red-20: #ffaf9b;
  --color-red-10: #ffebe7;

  --color-blue-20: #0080ff;
  --color-blue-10: #cce6ff;

  --color-green-20: #20a81e;
  --color-green-10: #d4f7d4;

  --color-kakao: #fee500;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* 브레이크포인트 커스텀 */
  --breakpoint-sm: 375px; /* 모바일 기준 */
  --breakpoint-md: 744px; /* 태블릿 기준 */
  --breakpoint-lg: 1440px; /* PC 기준 */
  --breakpoint-xl: 1920px; /* PC 이상 */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    font-family: var(--font-sans);
    line-height: 1.5;
  }
}

@layer base {
  h1 {
    @apply mb-4 text-4xl font-bold;
  }
  h2 {
    @apply mb-3 text-3xl font-bold;
  }
  h3 {
    @apply mb-2 text-2xl font-semibold;
  }
}
