@import "tailwindcss";

@theme {
  /* 글꼴 */
  --font-sans: var(--font-spoqa), ui-sans-serif, system-ui, sans-serif;

  /* 색상 팔레트 */
  --color-black: #111322;
  --color-gray-50: #7d7986;
  --color-gray-40: #a4a1aa;
  --color-gray-30: #cbc9cf;
  --color-gray-20: #e5e4e7;
  --color-gray-10: #f2f2f3;
  --color-gray-5: #fafafa;
  --color-white: #ffffff;

  --color-red-40: #ff4040;
  --color-red-30: #ff8d72;
  --color-red-20: #ffaf9b;
  --color-red-10: #ffebe7;

  --color-blue-20: #0080ff;
  --color-blue-10: #cce6ff;

  --color-green-20: #20a81e;
  --color-green-10: #d4f7d4;

  --color-kakao: #fee500;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* 브레이크포인트 커스텀 */
  --breakpoint-sm: 375px; /* 모바일 기준 */
  --breakpoint-md: 744px; /* 태블릿 기준 */
  --breakpoint-lg: 1440px; /* PC 기준 */
  --breakpoint-xl: 1920px; /* PC 이상 */

  /* 애니메이션 */
  --animate-animateGirl: animateGirl 10s linear infinite;

  @keyframes animateGirl {
  0% {
    transform: translateX(calc(100% + 100vw));
  }
  50% {
    transform: translateX(calc(-100% - 100vw));
  }
  50.01% {
    transform: translateX(calc(-100% - 100vw)) rotateY(180deg);
  }
  100% {
    transform: translateX(calc(100% + 100vw)) rotateY(180deg);
  }
}
  --animate-animate1: animate 20s linear infinite;
  --animate-animate2: animate 14s linear infinite;
  --animate-animate3: animate 12s linear infinite;
  --animate-animate4: animate 15s linear infinite;
  --animate-animate5: animate 18s linear infinite;
  --animate-animate6: animate 12s linear infinite;
  --animate-animate7: animate 14s linear infinite;
  --animate-animate8: animate 15s linear infinite;

  @keyframes animate {
    0% {
      opacity: 0;
      top: -10%;
      transform: translateX(20px) rotate(0deg);
    }
    10% {
      opacity: 1;
    }
    20% {
      transform: translateX(-20px) rotate(45deg);
    }
    40% {
      transform: translateX(-20px) rotate(90deg);
    }
    60% {
      transform: translateX(20px) rotate(180deg);
    }
    80% {
      transform: translateX(-20px) rotate(45deg);
    }
    100% {
      top: 110%;
      transform: translateX(20px) rotate(225deg);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    font-family: var(--font-sans);
    line-height: 1.5;
  }
}

@layer base {
  h1 {
    @apply mb-4 text-4xl font-bold;
  }
  h2 {
    @apply mb-3 text-3xl font-bold;
  }
  h3 {
    @apply mb-2 text-2xl font-semibold;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
